.pointer-events-none {
  pointer-events: none
}

.pointer-events-auto {
  pointer-events: auto
}

.static {
  position: static
}

.\!fixed {
  position: fixed !important
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.\!relative {
  position: relative !important
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.-inset-1 {
  inset: -0.25rem
}

.-right-4 {
  right: -1rem
}

.-top-6 {
  top: -1.5rem
}

.end-1 {
  inset-inline-end: 0.25rem
}

.start-1 {
  inset-inline-start: 0.25rem
}

.top-10 {
  top: 2.5rem
}

.-z-10 {
  z-index: -10
}

.z-auto {
  z-index: auto
}

.m-1 {
  margin: 0.25rem
}

.m-4 {
  margin: 1rem
}

.m-48 {
  margin: 12rem
}

.-mx-6 {
  margin-left: -1.5rem;
  margin-right: -1.5rem
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.mb-auto {
  margin-bottom: auto
}

.ml-\[\FFFD\FFFD\.\^\FFFD\=\FFFD\E\FFFD\13\FFFD\17\FFFD\FFFD\FFFD\] {
  margin-left: ��.^�=������
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-auto {
  margin-top: auto
}

.line-clamp-none {
  overflow: visible;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: none
}

.\!block {
  display: block !important
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.\!inline {
  display: inline !important
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.\!table {
  display: table !important
}

.table {
  display: table
}

.inline-table {
  display: inline-table
}

.table-caption {
  display: table-caption
}

.table-cell {
  display: table-cell
}

.table-column {
  display: table-column
}

.table-column-group {
  display: table-column-group
}

.table-footer-group {
  display: table-footer-group
}

.table-header-group {
  display: table-header-group
}

.table-row-group {
  display: table-row-group
}

.table-row {
  display: table-row
}

.flow-root {
  display: flow-root
}

.\!grid {
  display: grid !important
}

.grid {
  display: grid
}

.inline-grid {
  display: inline-grid
}

.\!contents {
  display: contents !important
}

.contents {
  display: contents
}

.list-item {
  display: list-item
}

.\!hidden {
  display: none !important
}

.hidden {
  display: none
}

.h-0 {
  height: 0px
}

.h-1 {
  height: 0.25rem
}

.h-2 {
  height: 0.5rem
}

.h-4 {
  height: 1rem
}

.h-6 {
  height: 1.5rem
}

.h-8 {
  height: 2rem
}

.h-9 {
  height: 2.25rem
}

.h-auto {
  height: auto
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.max-h-full {
  max-height: 100%
}

.min-h-screen {
  min-height: 100vh
}

.w-1 {
  width: 0.25rem
}

.w-2 {
  width: 0.5rem
}

.w-5 {
  width: 1.25rem
}

.w-\[\FFFDL\FFFD 66\FFFD\FFFD 2\/\FFFD 2\$\1C\FFFD\FFFD\$\!\FFFD\#\1E\FFFD\11\FFFD\FFFD\FFFD\FFFD\FFFD c\] {
  width: �L�66��2/�2$��$!�#������c
}

.w-auto {
  width: auto
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

.max-w-none {
  max-width: none
}

.max-w-prose {
  max-width: 65ch
}

.flex-shrink {
  flex-shrink: 1
}

.shrink {
  flex-shrink: 1
}

.flex-grow {
  flex-grow: 1
}

.grow {
  flex-grow: 1
}

.caption-top {
  caption-side: top
}

.caption-bottom {
  caption-side: bottom
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.flex-col-reverse {
  flex-direction: column-reverse
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse
}

.flex-nowrap {
  flex-wrap: nowrap
}

.content-normal {
  align-content: normal
}

.content-center {
  align-content: center
}

.content-start {
  align-content: flex-start
}

.content-end {
  align-content: flex-end
}

.content-between {
  align-content: space-between
}

.content-around {
  align-content: space-around
}

.content-evenly {
  align-content: space-evenly
}

.content-baseline {
  align-content: baseline
}

.content-stretch {
  align-content: stretch
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.items-stretch {
  align-items: stretch
}

.justify-normal {
  justify-content: normal
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.justify-evenly {
  justify-content: space-evenly
}

.justify-stretch {
  justify-content: stretch
}

.self-auto {
  align-self: auto
}

.self-start {
  align-self: flex-start
}

.self-end {
  align-self: flex-end
}

.self-center {
  align-self: center
}

.self-stretch {
  align-self: stretch
}

.self-baseline {
  align-self: baseline
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-clip {
  overflow: clip
}

.overflow-visible {
  overflow: visible
}

.overflow-scroll {
  overflow: scroll
}

.overflow-x-auto {
  overflow-x: auto
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.overflow-y-hidden {
  overflow-y: hidden
}

.overflow-x-clip {
  overflow-x: clip
}

.overflow-y-clip {
  overflow-y: clip
}

.overflow-x-visible {
  overflow-x: visible
}

.overflow-y-visible {
  overflow-y: visible
}

.overflow-x-scroll {
  overflow-x: scroll
}

.overflow-y-scroll {
  overflow-y: scroll
}

.hyphens-none {
  hyphens: none
}

.hyphens-manual {
  hyphens: manual
}

.hyphens-auto {
  hyphens: auto
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-b {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem
}

.rounded-e {
  border-start-end-radius: 0.25rem;
  border-end-end-radius: 0.25rem
}

.rounded-l {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem
}

.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem
}

.rounded-s {
  border-start-start-radius: 0.25rem;
  border-end-start-radius: 0.25rem
}

.rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem
}

.rounded-bl {
  border-bottom-left-radius: 0.25rem
}

.rounded-br {
  border-bottom-right-radius: 0.25rem
}

.rounded-ee {
  border-end-end-radius: 0.25rem
}

.rounded-es {
  border-end-start-radius: 0.25rem
}

.rounded-se {
  border-start-end-radius: 0.25rem
}

.rounded-ss {
  border-start-start-radius: 0.25rem
}

.rounded-tl {
  border-top-left-radius: 0.25rem
}

.rounded-tr {
  border-top-right-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-x {
  border-left-width: 1px;
  border-right-width: 1px
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-e {
  border-inline-end-width: 1px
}

.border-l {
  border-left-width: 1px
}

.border-r {
  border-right-width: 1px
}

.border-s {
  border-inline-start-width: 1px
}

.border-t {
  border-top-width: 1px
}

.border-solid {
  border-style: solid
}

.border-dashed {
  border-style: dashed
}

.border-dotted {
  border-style: dotted
}

.border-double {
  border-style: double
}

.border-hidden {
  border-style: hidden
}

.border-none {
  border-style: none
}

.border-current {
  border-color: currentColor
}

.bg-\[rgb\(255\2c 0\2c 0\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-1 {
  padding: 0.25rem
}

.p-14 {
  padding: 3.5rem
}

.p-16 {
  padding: 4rem
}

.p-2 {
  padding: 0.5rem
}

.p-3 {
  padding: 0.75rem
}

.p-8 {
  padding: 2rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pt-12 {
  padding-top: 3rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-justify {
  text-align: justify
}

.text-start {
  text-align: start
}

.text-end {
  text-align: end
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.font-extralight {
  font-weight: 200
}

.font-semibold {
  font-weight: 600
}

.font-thin {
  font-weight: 100
}

.uppercase {
  text-transform: uppercase
}

.lowercase {
  text-transform: lowercase
}

.capitalize {
  text-transform: capitalize
}

.normal-case {
  text-transform: none
}

.italic {
  font-style: italic
}

.not-italic {
  font-style: normal
}

.normal-nums {
  font-variant-numeric: normal
}

.\!ordinal {
  --tw-ordinal: ordinal !important;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction) !important
}

.ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.slashed-zero {
  --tw-slashed-zero: slashed-zero;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.lining-nums {
  --tw-numeric-figure: lining-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.oldstyle-nums {
  --tw-numeric-figure: oldstyle-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.proportional-nums {
  --tw-numeric-spacing: proportional-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.tabular-nums {
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.diagonal-fractions {
  --tw-numeric-fraction: diagonal-fractions;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.stacked-fractions {
  --tw-numeric-fraction: stacked-fractions;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.tracking-\[a-z\] {
  letter-spacing: a-z
}

.tracking-tighter {
  letter-spacing: -0.05em
}

.text-\[\#336699\]\/\[\.35\] {
  color: rgb(51 102 153 / .35)
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-current {
  color: currentColor
}

.text-green-800 {
  --tw-text-opacity: 1;
  color: rgb(22 101 52 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.overline {
  text-decoration-line: overline
}

.line-through {
  text-decoration-line: line-through
}

.no-underline {
  text-decoration-line: none
}

.decoration-solid {
  text-decoration-style: solid
}

.decoration-double {
  text-decoration-style: double
}

.decoration-dotted {
  text-decoration-style: dotted
}

.decoration-dashed {
  text-decoration-style: dashed
}

.decoration-wavy {
  text-decoration-style: wavy
}

.\[a-zA-Z0-9\:_-\] {
  a-z-a--z0-9: -
}

.\[a\:\(b\)\] {
  a: (b)
}

.\[a\:b\] {
  a: b
}

.\[android\:nextFocusDown\] {
  android: nextFocusDown
}

.\[android\:nextFocusForward\] {
  android: nextFocusForward
}

.\[android\:nextFocusLeft\] {
  android: nextFocusLeft
}

.\[android\:nextFocusRight\] {
  android: nextFocusRight
}

.\[android\:nextFocusUp\] {
  android: nextFocusUp
}

.\[button\:examples\] {
  button: examples
}

.\[button\:source\] {
  button: source
}

.\[circleci\:badge\] {
  circleci: badge
}

.\[emittery\:subscribe\] {
  emittery: subscribe
}

.\[emoji\:4\] {
  emoji: 4
}

.\[emoji\:\<length\>\] {
  emoji: <length>
}

.\[f\:\1B\FFFD\FFFD\`R\FFFD\FFFD F\~\FFFD\FFFD\FFFD\FFFDM\FFFD\FFFD\`\FFFD\&\741\FFFD\5\FFFD B\FFFD a\FFFD\FFFD\FFFD\FFFD\^sP\FFFD\`\FFFDM\FFFD\] {
  f: ��`R��F~����M��`�&݁��B�a����^sP�`�M�
}

.\[fix\:634\] {
  fix: 634
}

.\[hash\:base64\] {
  hash: base64
}

.\[k\:K\] {
  k: K
}

.\[key\:string\] {
  key: string
}

.\[license\:badge\] {
  license: badge
}

.\[npm\:latest\] {
  npm: latest
}

.\[npm\:next\] {
  npm: next
}

.\[s\:g\?\456\FFFD\1C\FFFD 2f\FFFDw\FFFD\FFFDsE\FFFD\] {
  s: g?і��2f�w��sE�
}

.\[startOffset\:endOffset\] {
  start-offset: endOffset
}

.\[surface\:\%d\] {
  surface: %d
}

.\[tid\:\%\@\] {
  tid: %@
}

.\[x\:i\1C\FFFD_J\FFFD\FFFD b\FFFD\] {
  x: i� J��b�
}

.\[x\:\FFFD\] {
  x: �
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

.hover\:font-bold:hover {
  font-weight: 700
}

.before\:hover\:text-center:hover::before {
  content: var(--tw-content);
  text-align: center
}

.hover\:before\:text-center:hover::before {
  content: var(--tw-content);
  text-align: center
}

.focus\:hover\:text-center:hover:focus {
  text-align: center
}

.hover\:focus\:text-center:focus:hover {
  text-align: center
}

@media (min-width: 640px) {
  .sm\:underline {
    text-decoration-line: underline
  }
}

@media (min-width: 1024px) {
  .lg\:hover\:bg-blue-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity))
  }
}

@media (prefers-color-scheme: dark) {
  @media (min-width: 1024px) {
    .dark\:lg\:hover\:\[paint-order\:markers\]:hover {
      paint-order: markers
    }
  }
}